body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    /* Light blue background */
}

header {
    background-color: #003366;
    /* Dark blue */
    color: white;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.social-icons a {
    margin-left: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #00509e;
}

.banner {
    text-align: center;
    margin-top: 0px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.join-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e90ff;
    /* Dodger blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.join-button:hover {
    background-color: #4682b4;
    /* Steel blue */
}

.info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info>div {
    flex: 1;
    margin: 0 10px;
}

.weather .weather-details {
    display: none;
}

.sponsors {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #e6f2ff;
    /* Light blue */
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sponsor-card {
    background-color: white;
    padding: 20px;
    margin: 0 10px;
    flex: 1;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.map-container {
    text-align: center;
    margin-top: 20px;
}

.map-container iframe {
    max-width: 100%;
}

.google-map {
    width: 800px;
    height: 600px;
    border: 0;
}



footer {
    background-color: #003366;
    /* Dark blue */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}